# --------------------
# Logs
# --------------------
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --------------------
# Node / Frontend
# --------------------
node_modules/
dist/
dist-ssr/
*.local

# --------------------
# Python
# --------------------
.venv/
venv/
__pycache__/
*.pyc
*.py[cod]
*.pyd
*.so
.env

# Python build artifacts
build/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg

# Python testing / coverage
.pytest_cache/
.coverage
htmlcov/

# --------------------
# Databases
# --------------------
*.sqlite3
*.db

# --------------------
# Editor / IDE
# --------------------
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --------------------
# Temporary
# --------------------
out.txt